<!-- ==================== REUSABLE TEMPLATES ==================== -->

<!-- Template for basic dropdown mode -->
<ng-template #basicMode>
  <div class="nxt-dropdown-container" 
       [class.disabled]="isDisabled"
       [class.open]="isOpen"
       [class.required]="required"
       [class.multiple]="multiple">
    
    <!-- Custom Trigger -->
    <div *ngIf="hasCustomTrigger" class="nxt-dropdown-custom-trigger-wrapper">
      <ng-content select="nxt-dropdown-trigger"></ng-content>
    </div>
    
    <!-- Default Trigger -->
    <div class="nxt-dropdown-trigger" 
         *ngIf="!hasCustomTrigger"
         (click)="toggleDropdown()"
         (keydown)="onKeyDown($event)"
         tabindex="0"
         role="combobox"
         [attr.aria-expanded]="isOpen"
         [attr.aria-haspopup]="true"
         [attr.aria-label]="placeholder">
      
      <!-- Value Display -->
      <div class="nxt-dropdown-trigger-content">
        <div class="nxt-dropdown-trigger-text">
          <ng-container *ngIf="selectedOptions.length === 0; else selectedContent">
            <span class="nxt-dropdown-placeholder">{{ placeholder }}</span>
          </ng-container>
          <ng-template #selectedContent>
            <span class="nxt-dropdown-selected">{{ getDisplayText() }}</span>
          </ng-template>
        </div>
      </div>
      
      <!-- Arrow Icon -->
      <div class="nxt-dropdown-trigger-icon">
        <svg [attr.data-icon-type]="iconType" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path *ngIf="iconType === 'caret'" 
                d="M3 4.5L6 7.5L9 4.5" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'arrow'" 
                d="M6 2L6 10M6 10L3 7M6 10L9 7" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'sharp-caret'" 
                d="M2 4L6 8L10 4" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'inverted-triangle'" 
                d="M2 8L6 4L10 8" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    
    <!-- Dropdown Panel -->
    <ng-container *ngIf="isOpen">
      <ng-container *ngTemplateOutlet="dropdownPanel"></ng-container>
    </ng-container>
  </div>
</ng-template>

<!-- Template for infield label mode -->
<ng-template #infieldLabelMode>
  <div class="nxt-dropdown-container infield-label" 
       [class.disabled]="isDisabled"
       [class.open]="isOpen"
       [class.required]="required"
       [class.multiple]="multiple">
    
    <!-- Custom Trigger -->
    <div *ngIf="hasCustomTrigger" class="nxt-dropdown-custom-trigger-wrapper">
      <ng-content select="nxt-dropdown-trigger"></ng-content>
    </div>
    
    <!-- Default Trigger -->
    <div class="nxt-dropdown-trigger" 
         *ngIf="!hasCustomTrigger"
         (click)="toggleDropdown()"
         (keydown)="onKeyDown($event)"
         tabindex="0"
         role="combobox"
         [attr.aria-expanded]="isOpen"
         [attr.aria-haspopup]="true"
         [attr.aria-label]="placeholder">
      
      <!-- Onfield Label -->
      <div *ngIf="infieldLabelPosition === 'onfield'" class="nxt-dropdown-iftalabel-onfield">
        {{ getOnfieldLabelText() }}
      </div>
      
      <!-- Infield Label -->
      <div *ngIf="infieldLabelPosition === 'infield'" class="nxt-dropdown-iftalabel-infield" 
           [class.active]="isOpen || selectedOptions.length > 0">
        {{ getInfieldLabelText() }}
      </div>
      
      <!-- Value Display -->
      <div class="nxt-dropdown-trigger-content"
           [class.nxt-dropdown-trigger-content-with-infield]="infieldLabelPosition === 'infield'">
        <div class="nxt-dropdown-trigger-text">
          <ng-container *ngIf="selectedOptions.length === 0; else selectedContent">
            <span class="nxt-dropdown-placeholder">{{ placeholder }}</span>
          </ng-container>
          <ng-template #selectedContent>
            <span class="nxt-dropdown-selected">{{ getDisplayText() }}</span>
          </ng-template>
        </div>
      </div>
      
      <!-- Arrow Icon -->
      <div class="nxt-dropdown-trigger-icon">
        <svg [attr.data-icon-type]="iconType" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path *ngIf="iconType === 'caret'" 
                d="M3 4.5L6 7.5L9 4.5" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'arrow'" 
                d="M6 2L6 10M6 10L3 7M6 10L9 7" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'sharp-caret'" 
                d="M2 4L6 8L10 4" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'inverted-triangle'" 
                d="M2 8L6 4L10 8" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    
    <!-- Dropdown Panel -->
    <ng-container *ngIf="isOpen">
      <ng-container *ngTemplateOutlet="dropdownPanel"></ng-container>
    </ng-container>
  </div>
</ng-template>

<!-- Template for floating label mode -->
<ng-template #floatingLabelMode>
  <div class="nxt-dropdown-container floatlabel" 
       [class.disabled]="isDisabled"
       [class.open]="isOpen"
       [class.required]="required"
       [class.multiple]="multiple"
       [class.infield-floatlabel]="floatlabelPosition === 'infield'">
    
    <!-- Custom Trigger -->
    <div *ngIf="hasCustomTrigger" class="nxt-dropdown-custom-trigger-wrapper">
      <ng-content select="nxt-dropdown-trigger"></ng-content>
    </div>
    
    <!-- Default Trigger -->
    <div class="nxt-dropdown-trigger" 
         *ngIf="!hasCustomTrigger"
         (click)="toggleDropdown()"
         (keydown)="onKeyDown($event)"
         tabindex="0"
         role="combobox"
         [attr.aria-expanded]="isOpen"
         [attr.aria-haspopup]="true"
         [attr.aria-label]="placeholder">
      
      <!-- Infield Label -->
      <div *ngIf="floatlabelPosition === 'infield'" class="nxt-dropdown-floatlabel-infield" 
           [class.active]="isOpen || selectedOptions.length > 0">
        {{ getFloatLabelText() }}
      </div> 
      
      <!-- Onfield Label -->
      <div *ngIf="floatlabelPosition === 'onfield'" class="nxt-dropdown-floatlabel-onfield"
           [class.active]="isOpen || selectedOptions.length > 0">
        {{ getFloatLabelText() }}
      </div>
      
      <!-- Value Display -->
      <div class="nxt-dropdown-trigger-content"
           [class.nxt-dropdown-trigger-content-with-infield-floatlabel]="floatlabelPosition === 'infield'">
        <div class="nxt-dropdown-trigger-text">
          <ng-container *ngIf="selectedOptions.length > 0; else emptyContent">
            <span class="nxt-dropdown-selected">{{ getDisplayText() }}</span>
          </ng-container>
          <ng-template #emptyContent>
            <span class="nxt-dropdown-empty"></span>
          </ng-template>
        </div>
      </div>
      
      <!-- Arrow Icon -->
      <div class="nxt-dropdown-trigger-icon">
        <svg [attr.data-icon-type]="iconType" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path *ngIf="iconType === 'caret'" 
                d="M3 4.5L6 7.5L9 4.5" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'arrow'" 
                d="M6 2L6 10M6 10L3 7M6 10L9 7" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'sharp-caret'" 
                d="M2 4L6 8L10 4" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
          <path *ngIf="iconType === 'inverted-triangle'" 
                d="M2 8L6 4L10 8" 
                stroke="currentColor" 
                stroke-width="1.5" 
                stroke-linecap="round" 
                stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    
    <!-- Dropdown Panel -->
    <ng-container *ngIf="isOpen">
      <ng-container *ngTemplateOutlet="dropdownPanel"></ng-container>
    </ng-container>
  </div>
</ng-template>

<!-- Template for dropdown panel -->
<ng-template #dropdownPanel>
  <div class="nxt-dropdown-panel" 
       [class.above]="shouldPositionAbove"
       [@dropdownAnimation]="isOpen ? 'open' : 'closed'">
    
    <!-- Search Input -->
    <div class="nxt-dropdown-search" *ngIf="showSearchInput">
      <input type="text" 
             [placeholder]="searchPlaceholder"
             [value]="searchText"
             (input)="onSearchInput($event)"
             class="nxt-dropdown-search-input"
             autocomplete="off">
    </div>
    
    <!-- Options List -->
    <div class="nxt-dropdown-options">
      <!-- Select All Option (Multiple Mode) -->
      <div *ngIf="multiple && filteredOptions.length > 0" 
           class="nxt-dropdown-option nxt-dropdown-all-option"
           [class.selected]="isAllSelected()"
           [class.partially-selected]="isPartiallySelected()"
           (click)="selectAll()">
        <div class="nxt-dropdown-option-content">
          <div class="nxt-dropdown-option-icon">
            <div class="nxt-dropdown-checkbox" 
                 [class.checked]="isAllSelected()"
                 [class.partially]="isPartiallySelected()">
              <svg *ngIf="isAllSelected()" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M2 6L5 9L10 3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg *ngIf="isPartiallySelected()" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M2 6H10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <div class="nxt-dropdown-option-text">Select All</div>
        </div>
      </div>
      

      
      <!-- Individual Options -->
      <ng-container *ngFor="let option of filteredOptions; trackBy: trackByValue; let i = index">
        <!-- Group Header -->
        <div *ngIf="shouldShowGroupHeader(option, i)" class="nxt-dropdown-group-header">
          {{ option.group }}
        </div>
        
        <!-- Option -->
        <div class="nxt-dropdown-option"
             [class.selected]="isOptionSelected(option)"
             [class.disabled]="option.disabled"
             [class.grouped]="option.group"
             (click)="selectOption(option)">
          <div class="nxt-dropdown-option-content">
            <!-- Checkbox for Multiple Mode -->
            <div *ngIf="multiple" class="nxt-dropdown-option-icon">
              <div class="nxt-dropdown-checkbox" 
                   [class.checked]="isOptionSelected(option)">
                <svg *ngIf="isOptionSelected(option)" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <path d="M2 6L5 9L10 3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            
            <!-- Option Text -->
            <div class="nxt-dropdown-option-text">{{ option.label }}</div>
          </div>
        </div>
      </ng-container>
      
      <!-- No Options Message -->
      <div *ngIf="filteredOptions.length === 0" class="nxt-dropdown-no-options">
        No options available
      </div>
    </div>
    
    <!-- Confirmation Buttons -->
    <div *ngIf="confirmation && multiple" class="nxt-dropdown-confirmation">
      <button type="button" 
              class="nxt-dropdown-btn nxt-dropdown-btn-cancel"
              (click)="cancelSelection()">
        <span class="nxt-dropdown-btn-icon" *ngIf="cancelButtonIcon" [innerHTML]="getSanitizedIcon(cancelButtonIcon)"></span>
        {{ cancelButtonText }}
      </button>
      
      <button type="button" 
              class="nxt-dropdown-btn nxt-dropdown-btn-apply"
              (click)="applySelection()">
        <span class="nxt-dropdown-btn-icon" *ngIf="applyButtonIcon" [innerHTML]="getSanitizedIcon(applyButtonIcon)"></span>
        {{ applyButtonText }}
      </button>
    </div>
  </div>
</ng-template>

<!-- ==================== MAIN COMPONENT TEMPLATE ==================== -->

<!-- Dynamic template selection based on mode -->
<ng-container *ngIf="!infieldLabel && !floatlabel">
  <ng-container *ngTemplateOutlet="basicMode"></ng-container>
</ng-container>
<ng-container *ngIf="infieldLabel">
  <ng-container *ngTemplateOutlet="infieldLabelMode"></ng-container>
</ng-container>
<ng-container *ngIf="floatlabel">
  <ng-container *ngTemplateOutlet="floatingLabelMode"></ng-container>
</ng-container> 